/*=======full app=======*/
body {
  margin: 0;
  padding: 0;

  max-width: 100%;
  max-height: 100%;
}

a {
  color: black;
  text-decoration: none;
  margin: 5px;
}

h3,
h5 {
  margin: 7px;
}

/*=======app page=======*/
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
}

input {
  width: 70%;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(189, 79, 0, 0.305);
}
button {
  background-color: rgba(189, 79, 0, 0.305);
  width: 80px;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  margin: 10px;
}

label {
  width: 30%;
}

/*=======Nav=======*/
.nav {
  background-color: #305cde;
  width: 100%;
  height: 45px;

  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
 
}

.left-nav, .right-nav{
  margin: 0 15px;

}

/*=======Home page=======*/
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*=======categories=======*/
.categories {
  background-color: #305cde;
  width: 450px;
  height: 150px;

  display: flex;
  justify-content: center;
  margin: 5px;

  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.category-card {
  height: 120px;
  border: 2px solid black;
  border-radius: 5px;
}

/*=======Forms=======*/
.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in,
.sign-up,
.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-form,
.create-form {
  background-color: rgb(255, 132, 0);
  height: 400px;
  width: 450px;

  border: 1px solid black;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 400px;
  margin: 5px;
  display: flex;
  justify-content: end;
}

/*=======Recipes List=======*/

.recipes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card {
  background-color: rgb(255, 132, 0);
  height: 80px;
  width: 450px;
  border-top: 4px solid rgb(61, 61, 61);
  border-bottom: 4px solid rgb(61, 61, 61);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*=======recipe details=======*/
.recipes-details {
  background-color: aqua;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}
img {
  max-height: 81%;
}
